[buildout]
#develop = .

# buildout options
show-picked-versions = true
newest = false
download-cache = downloads
versions = versions

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/ 
extensions = buildout.locallib

parts = 
    conda
      
[settings]
hostname = localhost
http-port = 8094
user = ''

[versions]
#zc.buildout=2.4.0
#buildout.locallib=0.3.1
#zc.recipe.egg=2.0.2
birdhousebuilder.recipe.conda = 0.2.2
birdhousebuilder.recipe.solr = 0.1.0

[conda]
recipe = birdhousebuilder.recipe.conda
pkgs = 
     solr


 


